/* font families
font-family: 'Merienda', cursive;
font-family: 'Nunito', sans-serif;* /

/* color used */
:root {
  --primary-color: #800080;
  --secondary-color: #4169e1;
  --dark-grey: #2b2b2b;
  --grid-color: #d3d3d3;
  --deepblue: #191970;
  --anchor: #357b70;
  --a-visited: #05676e;
  --a-active: #489c79;
  --yellow: #edc655;
  --lightyellow: #fcffad;
  --orange: #f76414;
  --backgourd-footer: #b0d4de;
  --white-color: #fff;

  /* repetitive values */

  --opacity: 0.6;
  --font-bold: 700px;
  --padding: 10px;
}

* {
  box-sizing: border-box;
}

html {
  border-bottom: 10px solid var(--deepblue);
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;

  /* Sets the font size to 14px* /
  font-size: 16px;
  /* Sets the line-height to 1.6 */
  line-height: 1.5;
  min-height: 100vh;
}

h1 {
  font-family: 'Merienda', cursive;
  font-size: 30px;
  font-weight: var(--font-bold);
}

h2 {
  font-family: 'Merienda', cursive;
  font-size: 24px;
  font-weight: var(--font-bold);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-bold);
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

a:link {
  color: var(--anchor);
}

a:visited {
  /* visited link */
  color: var(--a-visited);

  /* text-decoration: none; */
}

a:hover,
a:focus {
  /* No underlining when hevering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--a-active);
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* styles the background color, font color, and text decoration of the button */
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;

  /* adds spacing to the button */
  padding: var(--padding);
  border-radius: 3px;

  /* give button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  display: block;
  text-align: center;
}

button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: var(--opacity);
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--white-color);
  margin: auto;
  text-align: center;
}

.button-wrapper {
  display: block;
  clear: both;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

/* erase dots in navigation list */
.navigation-list {
  list-style-type: none;
  font-family: 'Merienda', cursive;
  font-size: 20px;
  font-weight: var(--font-bold);
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
  font-weight: bolder;
}

/* Profile box moved to the center of the page */
.profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 90px 0;
  line-height: 1.5;
}

.about {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.table {
  max-width: 900px;
  margin: 0 auto;
  padding: var(--padding);
}

.page-header {
  display: flex;
  width: 100%;
  padding: var(--padding);
  align-items: center;
  border-top: 10px solid var(--deepblue);
  background-color: var(--white-color);
}

.page-header__item {
  width: 30%;
  height: auto;
  border-radius: 10px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.work {
  text-align: center;
}

.contact-wrapper {
  text-align: center;
  line-height: 1.5;
}

.contact-me {
  line-height: 2;
}

.standard-label {
  color: var(--purple);
  font-weight: bold;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 100%;
  padding: 30px;
  color: var(--white-color);
  background-color: var(--backgourd-footer);
  position: sticky;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }

  .grid__item {
    background-color: var(--grid-color);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
  }

  .grid__item: last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

/* transition */
.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the button */
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
  padding: var(--padding);
  border-radius: 3px;

  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: var(--opacity);
  font-size: 18px;
}

/* media queries display */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item: last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--yellow);
  }

  50% {
    fill: var(--lightyellow);
  }

  100% {
    fill: var(--orange);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
